<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<%= javascript_include_tag "filtering_map.js" %>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <h1> Map Filter </h1>
  <div class="container">
    <div class="row">
      <div class="col-12" id="divmap"><%= geo_chart @countries_to_map %></div>
    <textarea id="content_json" rows="4" cols="50"><%= @players_updated.to_json %></textarea>
  </div>

  <div>
    <p1>Elimina país:<p1>
    <input type="text" id="country_drop"> </input>
    <button id="eliminar" >Eliminar</button>
  </div>
  <br>
</div>

<div style="position:absolute; left:60%; top:55%;">
  <h3>Filter time</h3>
  <a>Desde: <input id="dateFrom" type="date"></input></a>
  <a>Hasta: <input id="dateUntil" type="date"></input></a>
  <button id="filterDate" >Filter</button>

  <br>
  <br>

  <button id="date_today">Today</button>
  <button id="date_thisWeek">This week</button>
  <button id="date_anyTime">Any time</button>

</div>
